/* Regular */

@font-face {
    font-family: 'Montserrat';
    src: url(src/assets/fonts/Montserrat-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'Montserrat Light';
    src: url(src/assets/fonts/Montserrat-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: lighter;
}

/* Medium */
@font-face {
    font-family: 'Montserrat Medium';
    src: url(src/assets/fonts/Montserrat-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: bolder;
}

/* Bold */
@font-face {
    font-family: 'Montserrat Bold';
    src: url(src/assets/fonts/Montserrat-Regular.ttf) format('truetype');
    font-weight: 700;
    font-style: bold;
}