@import '_fonts.scss';

$font-reg: 'Montserrat', sans-serif;
$font-light: 'Montserrat Light', sans-serif;
$font-medium: 'Montserrat Medium', sans-serif;
$font-bold: 'Montserrat Bold', sans-serif;

$main-color: #172b32;
// $main-color-rgba: rgba(23, 43, 50, 0.7);

// Banner blend mode
$gray-alpha: rgba(56, 56, 56, 0.8);
$main-blend: rgba(23, 43, 50, 0.95);

$lava-color: #ff4500;
$lava-dark: rgb(238, 71, 11);

$white-btn-hover: rgb(226, 226, 226);