footer {
    background-color: #111;
    height: 8rem;
    @include flex(space-around);

    .copyright {
        text-align: left;

        span {
            color: $lava-color;
        }
    }

    div {
        width: 32%;
        text-align: center;
        @include flex(center)
    }

    .footer-socials {
        @include flex(flex-end);
        a:first-child {
            margin-right: 0.5rem;
        }

        a:hover {
            color: $lava-color;
        }
    }
}