section {
    background-color: white;
    color: $main-color;
}

#projects {
    min-height: 100vh;
    @extend %block-size;
    @include flex(center);
    align-items: flex-start;
    flex-direction: column;

    h2 {
        @extend %heading-line;

        &:before {
            @extend %heading-line-before;
        }
    }
}

.project_cards {
    @include flex(space-between);
    min-height: 55%;

    .card {
        background-color: white;
        width: 23%;
        height: 100%;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 0 15px 2px lightgray;

        figure {
            width: 100%;
            max-height: 42%;
            img {
                width: 100%;
                height: auto;
            }
        }

        .inner_card {
            height: 50%;
            @include flex(space-between);
            align-items: flex-start;
            flex-direction: column;
            padding: 5%;

            h3 {
                font-size: 1.5rem;
                font-weight: bold;
            }

            p {
                font-size: 1.2rem;
                margin: 7% 0;
            }
        }

        button {
            @extend %main-btn;
        }
    }
}
