<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        //- style
        //-     include src/styles/reset.css
        //-     include src/styles/style.css
        script(src="https://kit.fontawesome.com/b47163faa3.js" crossorigin="anonymous")
    body
        include src/components/header
        include src/components/firstScreen
        include src/components/about
        include src/components/projects
        include src/components/prices
        include src/components/contacts
        include src/components/footer