mixin project(title, img, text)
    .card
        figure
            img(src= img, alt='', srcset='')
        .inner_card
            div
                h3= title
                p= text
            div
                button Подробнее