#about
    .about_centerer
        .about_content
            h2 О компании
            p А также реплицированные с зарубежных источников, современные исследования объективно рассмотрены соответствующими инстанциями. А также многие известные личности представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть подвергнуты целой серии независимых исследований! Как принято считать, действия представителей оппозиции неоднозначны и будут подвергнуты целой серии независимых исследований. С другой стороны, курс на социально-ориентированный национальный проект не оставляет шанса для новых принципов формирования материально-технической и кадровой базы.
        figure.images
                each img in ['src/assets/t1.jpg', 'src/assets/t2.jpg', 'src/assets/t3.jpg', 'src/assets/t4.jpg']
                    img(src= img, alt='' srcset='' width='48%' height='48%')