.banner
    .content
        a.mobile-logo(href='file:///C:/Users/эльдорадо/Desktop/Projects/MyProjects/Practice/scss+pug/index.html')
            img(src='src/assets/logo@3x.png', alt='Exodus Architect logo', srcset='')
        h1 Exodus <span>Arch</span>itecture™
        p Дизайнерские решения для создания дома Вашей мечты
        .buttons
            button Подробнее
            button.secondary Заказать проект