footer
    .copyright
        p Copyright © Exodus <span>Arch</span>itect. All rights reserved
    .logo
        a(href='file:///C:/Users/эльдорадо/Desktop/Projects/MyProjects/Practice/scss+pug/index.html')
            img(src="src/assets/logo@1.png", alt="", srcset="")
    .footer-socials
            a(href='#')
                i.fab.fa-instagram-square.fa-2x
            a(href='#') 
                i.fab.fa-facebook-square.fa-2x