header
    a.logo(href='file:///C:/Users/эльдорадо/Desktop/Projects/MyProjects/Practice/scss+pug/index.html')
        img(src='src/assets/logo@1.png', alt='Exodus Architect logo', srcset='')
    nav
        each item in ['О компании', 'Проекты', 'Цены', 'Контакты']
            a(href='#')= item
    .socials
        .inst
            a(href='#')
                i.fab.fa-instagram-square.fa-2x
        .fb
            a(href='#') 
                i.fab.fa-facebook-square.fa-2x