include mixins/price
#prices
    h2 Стоимость
    .price_cards
        +price('100 000$', '4 мес.', 'Быстро и недорого - идеальный вариант для дачи.', ['Замеры', 'Проектирование', 'Согласование стоимости', 'Конструкторские работы'])
        +price('100 000$', '4 мес.', 'Быстро и недорого - идеальный вариант для дачи.', ['Замеры', 'Проектирование', 'Согласование стоимости', 'Конструкторские работы'])
        +price('100 000$', '4 мес.', 'Быстро и недорого - идеальный вариант для дачи.', ['Замеры', 'Проектирование', 'Согласование стоимости', 'Конструкторские работы'])