include mixins/project

section
    #projects
        h2 Наши проекты
        .project_cards
            +project('Sunrise Shores', 'src/assets/house.jpg', 'Небольшой уютный домик на побережье — самый необычный из наших проектов. Бассейн, ухоженный участок, гараж на четыре места и личный причал для Вашей лодки.')
            +project('Sunrise Shores', 'src/assets/house.jpg', 'Небольшой уютный домик на побережье — самый необычный из наших проектов. Бассейн, ухоженный участок, гараж на четыре места и личный причал для Вашей лодки.')
            +project('Sunrise Shores', 'src/assets/house.jpg', 'Небольшой уютный домик на побережье — самый необычный из наших проектов. Бассейн, ухоженный участок, гараж на четыре места и личный причал для Вашей лодки.')
            +project('Sunrise Shores', 'src/assets/house.jpg', 'Небольшой уютный домик на побережье — самый необычный из наших проектов. Бассейн, ухоженный участок, гараж на четыре места и личный причал для Вашей лодки.')